.footer{
    margin: 100px 200px 20px 200px;

    .top{
        display: flex;
        justify-content:space-around;
        gap: 50px;
        .item{
            display: flex;
            flex: 1;
            flex-direction: column;
            gap:10px;
            text-align: justify;


            h1{
                font-size: medium;
            }
            span{
                font-size: small;
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .left{
            font-weight: bold;
            

            .logo{
                color: rgb(35, 68, 177);
            }
            .copyright{
                font-size: 12px;
            }
        }
        .right{

            img{
                height: 50px;
            }
        }
    }
}