.slider{
    height: calc(90vh - 80px);
    width: 100vw;
    position: relative;
    overflow: hidden;
    margin: auto;

    .container{
        width: 300vw;
        display: flex;
        height: 70vh;
        transition: all 1s ease;
        //transform: translateX(-100vw);

        img{
            width: 100vw;
            height: 70vh;
            object-fit:cover;
        }
    }

    .icons{
        position: relative;
        display: flex;
        width: 100%;
        margin: auto;
        bottom: 250px;
        left: 0;
        right: 0;
        gap: 65vw;
        margin: auto;
        margin-left: 10vw;
       
    }

    .icon{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #999;
        cursor: pointer;

 
    }
}